# SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
# SPDX-License-Identifier: CC0-1.0

name: Deploy

permissions:
  contents: write

on:
  push:
    tags:
      - "**"

jobs:
  extension_bundle:
    name: Extension Bundle
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Create Release
        run: |
          make zip
      - name: Upload Release
        uses: svenstaro/upload-release-action@2.9.0
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: kando-integration@kando-menu.github.io.zip
          tag: ${{ github.ref }}
          overwrite: true
          prerelease: true
